@import '@src/__vars.scss';

.ProductFilter {
  position: sticky;
  top: 60px;
  z-index: 150;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: $body-bg-third;
}

.ProductFilter > .show__false {
  display: none;
}

.ProductFilter--toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  background: none;
}

.ProductFilter--toggleButton > .bi {
  display: flex;
  align-items: center;
  height: 20px;
}

.ProductFilter--subcategories {
  display: flex;
  flex-direction: column;
}

.ProductFilter--attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priceRange {
  display: flex;

  span {
    margin: 0 4px;
  }
}

.priceRange--input {
  width: 75px;
}