$size: 300px;

.ImageGallery {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: $size;
  align-items: center;
}

.ImageGallery--main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  margin: 10px;
}

.ImageGallery img, .ImageGallery img {
  width: 100%;
  border-radius: 4px;
}

.ImageGallery--options {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
}

.ImageGallery--options--option {
  min-width: 50px;
  margin: 0 5px;
  list-style: none;
}