@import '@src/_vars.scss';

.ToggleMenuButton {
  width: 25px;
  height: 25px;
  border: none;
  background-color: $body-bg-second;
  color: white;
  cursor: pointer;
}

.ToggleMenuButton > .bi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}